[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crimedata"]
	path = crimedata
	url = https://github.com/mpjashby/crimedata
[submodule "sfhotspot"]
	path = sfhotspot
	url = https://github.com/mpjashby/sfhotspot
